<nav>
    <!-- SIDENAV CATEGORY-->
    <ul id="nav-mobile-category" class="side-nav">
        <li class="sidenav-logo">
            <i class="fa fa-leaf" aria-hidden="true"></i> Name App
        </li>
        <li>
            <div class="search-wrapper ">
                <input id="search"><i class="material-icons">search</i>
                <div class="search-results"></div>
            </div>
        </li>
        <li>
            <a href="#"><i class="fas fa-plus"></i> Healthy food</a>
        </li>
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <div class="collapsible-header">
                        <i class="fas fa-plus"></i>Vegetables <span><i class="fas fa-caret-down"></i></span>
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a class="waves-effect waves-blue" href="#"><i
                                        class="fas fa-angle-right"></i>Cabbage</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="#"><i
                                        class="fas fa-angle-right"></i>Corn</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="#"><i
                                        class="fas fa-angle-right"></i>Potato</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="#"><i
                                        class="fas fa-angle-right"></i>Carrot</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fas fa-plus"></i>Fruits</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-plus"></i>Breads</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-plus"></i>Berries</a>
        </li>
    </ul>
    <!-- END SIDENAV CATEGORY-->
    <!-- SIDENAV ACCOUNT-->
    <ul id="nav-mobile-account" class="side-nav">
        {% if  user.first_name %}
            <li class="profile">
                <div class="li-profile-info">
                    <h2>{{ user.first_name }}</h2>
                    <div class="balance">
                        Total : <span>R$ 150,00</span>
                    </div>
                </div>
            </li>
        {% endif %}
        <li>
            <a class="waves-effect waves-blue" href="#"><i class="fas fa-home"></i>Inicio</a>
        </li>
        <li>
            <a href="#"><i
                    class="fas fa-check"></i>Category 1</a>
        </li>
        <li>
            <a href="#"><i
                    class="fas fa-file"></i>Category 2</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-shopping-cart"></i>Carrinho</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-heart"></i>Meus Pedidos</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-heart"></i>Favoritos</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-cog"></i>Configurações</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-sign-out-alt"></i>Log Out</a>
        </li>
    </ul>
    <!-- END SIDENAV ACCOUNT-->
</nav>
