include README.md
include django_crud_generator/templates/*.tmpl
include django_crud_generator/templates/templates_html/dashboard/*.html
include django_crud_generator/templates/templates_html/dashboard/account/*.html
include django_crud_generator/templates/templates_html/dashboard/model/*.html
include django_crud_generator/templates/templates_html/aplicativo/*.html
include django_crud_generator/templates/templates_html/aplicativo/account/*.html
include django_crud_generator/templates/templates_html/aplicativo/model/*.html
include django_crud_generator/templates/templatetags/*.py
