class ${model_name}Admin(admin.ModelAdmin):
    def __init__(self, model, admin_site):
        self.list_display = [field.name for field in model._meta.fields]
        self.list_filter = [field.name for field in model._meta.fields if field.name in ['estado', 'cidade', 'status',
                                                                                         'tipo_pagamento',
                                                                                         'forma_pagamento',
                                                                                         'active',
                                                                                         'cupom',
                                                                                         'enviado', 'is_online',
                                                                                         'valor_a_combinar'
                                                                                         'is_approved', 'categoria', 'disponivel', ]]
        self.search_fields = [field.name for field in model._meta.fields if field.name in ['cpf', 'cnpj', 'nome', 'username', 'email', 'whatsapp',
                                                                                           'name', 'phone', 'titulo', 'descricao', 'telefone', 'telefone_1', ]]
        if len([field.name for field in model._meta.fields if field.name in ['is_approved', ]]) > 0:
            self.actions = [approve_selected, desapprove_selected]
        super(${model_name}Admin, self).__init__(model, admin_site)

admin.site.register(${model_name}, ${model_name}Admin)
