#!/usr/bin/env python
# -*- coding: utf-8 -*-
import django_filters
import django_tables2 as tabs
from django.contrib import messages
from django.contrib.auth.mixins import LoginRequiredMixin, PermissionRequiredMixin
from django.utils.html import format_html
from django_filters.views import FilterView
from django_tables2 import tables, LazyPaginator, SingleTableView

from base_django.views import BaseCreateView, BaseDeleteView, BaseDetailView, BaseUpdateView, BaseListView

try:
    from django.core.urlresolvers import reverse_lazy
except ImportError:
    from django.urls import reverse_lazy, reverse

from .. import (models, forms, conf)


class ${model_name}Filter(django_filters.FilterSet):
    class Meta:
        model = models.${model_name}
        fields = ('id', 'created_at',)


class ActionsColumn(tabs.Column):

    def __init__(self):
        super(ActionsColumn, self).__init__(orderable=False, empty_values=(), verbose_name='Acoes')

    def render(self, record):
        return format_html('<a class="btn btn-info btn-xs" href="{}"><span class="glyphicon glyphicon-edit"></span> Editar</a> <a href="{}" class="btn btn-danger btn-xs"><span class="glyphicon '
                           'glyphicon-remove"></span> Remover</a>', reverse(conf.${model_prefix}_DETAIL_URL_NAME, kwargs={'pk': record.pk}),
                           reverse(conf.${model_prefix}_DELETE_URL_NAME, kwargs={'pk': record.pk})
                           )


class ${model_name}Table(tables.Table):
    actions = ActionsColumn()

    class Meta:
        model = models.${model_name}
        template_name = "django_tables2/bootstrap.html"
        fields = ('id', 'created_at', 'published_at',)
        orderable = True
        order_by = '-created_ad'
        row_attrs = {
            "data-id": lambda record: record.pk
        }
        attrs = {
            'id': 'table',
            'class': 'table'
        }


class List(LoginRequiredMixin, FilterView, BaseListView, SingleTableView):
    """
    List all ${model_name}s
    """
    table_class = ${model_name}Table
    paginator_class = LazyPaginator
    filterset_class = ${model_name}Filter

    queryset = models.${model_name}.objects.all()
    template_name = '${model_name_lower}/list.html'
    model = models.${model_name}
    context_object_name = '${model_name_lower}s'
    ordering = '-created_at'

    def get_queryset(self):
        return models.${model_name}.objects.all()

    def get_context_data(self, **kwargs):
        context = super(List, self).get_context_data(**kwargs)

        context['detail_url_name'] = conf.${model_prefix}_DETAIL_URL_NAME

        if self.request.user.has_perm("${application_name}.add_${model_name_lower}"):
            context['create_object_reversed_url'] = reverse_lazy(
                conf.${model_prefix}_CREATE_URL_NAME
            )
        
        return context


class Create(LoginRequiredMixin, PermissionRequiredMixin, BaseCreateView):
    """
    Create a ${model_name}
    """
    model = models.${model_name}
    permission_required = (
        '${application_name}.add_${model_name_lower}'
    )
    form_class = forms.${model_name}Form
    template_name = '${model_name_lower}/create.html'
    context_object_name = '${model_name_lower}'

    def get_context_data(self, **kwargs):
        context = super(Create, self).get_context_data(**kwargs)
        return context

    def get_success_url(self):
        return reverse_lazy(conf.${model_prefix}_DETAIL_URL_NAME, kwargs=self.kwargs_for_reverse_url())

    def get_initial(self):
        data = super(Create, self).get_initial()
        return data

    def form_valid(self, form):
        messages.success(self.request, '${model_name} criado com sucesso')
        return super(Create, self).form_valid(form)

    def form_invalid(self, form):
        messages.error(self.request, 'Houve algum erro, tente novamente')
        return super(Create, self).form_invalid(form)


class Detail(LoginRequiredMixin, BaseDetailView):
    """
    Detail of a ${model_name}
    """
    model = models.${model_name}
    template_name = '${model_name_lower}/detail.html'
    context_object_name = '${model_name_lower}'

    def get_context_data(self, **kwargs):
        context = super(Detail, self).get_context_data(**kwargs)

        if self.request.user.has_perm("${application_name}.change_${model_name_lower}"):
            context['update_object_reversed_url'] = reverse_lazy(
                conf.${model_prefix}_UPDATE_URL_NAME,
                kwargs=self.kwargs_for_reverse_url()
            )

        if self.request.user.has_perm("${application_name}.delete_${model_name_lower}"):
            context['delete_object_reversed_url'] = reverse_lazy(
                conf.${model_prefix}_DELETE_URL_NAME,
                kwargs=self.kwargs_for_reverse_url()
            )
        return context


class Update(LoginRequiredMixin, PermissionRequiredMixin, BaseUpdateView):
    """
    Update a ${model_name}
    """
    model = models.${model_name}
    template_name = '${model_name_lower}/update.html'
    context_object_name = '${model_name_lower}'
    form_class = forms.${model_name}Form
    permission_required = (
        '${application_name}.change_${model_name_lower}'
    )

    def get_initial(self):
        data = super(Update, self).get_initial()
        return data

    def get_success_url(self):
        return reverse_lazy(conf.${model_prefix}_DETAIL_URL_NAME, kwargs=self.kwargs_for_reverse_url())

    def get_context_data(self, **kwargs):
        data = super(Update, self).get_context_data(**kwargs)
        return data

    def form_valid(self, form):
        messages.success(self.request, '${model_name} atualizado com sucesso')
        return super(Update, self).form_valid(form)

    def form_invalid(self, form):
        messages.error(self.request, 'Houve algum erro, tente novamente')
        return super(Update, self).form_invalid(form)


class Delete(LoginRequiredMixin, PermissionRequiredMixin, BaseDeleteView):
    """
    Delete a ${model_name}
    """
    model = models.${model_name}
    permission_required = (
        '${application_name}.delete_${model_name_lower}'
    )
    template_name = '${model_name_lower}/delete.html'
    context_object_name = '${model_name_lower}'

    def get_context_data(self, **kwargs):
        context = super(Delete, self).get_context_data(**kwargs)
        return context

    def __init__(self):
        super(Delete, self).__init__()

    def delete(self, request, *args, **kwargs):
        messages.success(self.request, '${model_name} removido com sucesso')
        return super(Delete, self).delete(self.request, *args, **kwargs)

    def get_success_url(self):
        return reverse_lazy(conf.${model_prefix}_LIST_URL_NAME)
